In [17]:
#import libraries
import pandas as pd
import numpy as np

#create array
arr = np.array([['M', 81.4, 82.2, 44, 6.1, 120000, 'no'],
               ['M', 75.2, 86.2, 40, 5.9, 80000, 'no'],
               ['F', 80.0, 83.2, 34, 5.4, 210000, 'yes'],
               ['F', 85.4, 72.2, 46, 5.6, 50000, 'yes'],
               ['M', 68.4, 87.2, 28, 5.11, 70000, 'no']])

#create pandas DataFrame
df1 = pd.DataFrame(arr)
df1.columns = ['gender', 'hsc_p', 'ssc_p', 'age', 'height', 'salary', 'suffer_from_disease']

#Convert types
df1[['age','salary']] = df1[['age','salary']].astype(int)
df1[['hsc_p','ssc_p','height']] = df1[['hsc_p','ssc_p','height']].astype(float) 

df2 = df1

In [18]:
df1.head()

  gender  hsc_p  ssc_p  age  height  salary suffer_from_disease
0      M   81.4   82.2   44    6.10  120000                  no
1      M   75.2   86.2   40    5.90   80000                  no
2      F   80.0   83.2   34    5.40  210000                 yes
3      F   85.4   72.2   46    5.60   50000                 yes
4      M   68.4   87.2   28    5.11   70000                  no

In [8]:
print "NORMALIZATION"

NORMALIZATION

In [9]:
#NORMALIZATION refers to rescaling of the features to a range of [0,1]

def normalize(values):
    return (values - values.min())/(values.max() - values.min())

In [10]:
print "STANDARDIZATION"

STANDARTIZATION

In [11]:
#STANDARDIZATION techique is used to center the feature columns
    #at mean with 0 and standard deviation 1

def standardize(values):
    return (values - values.mean())/values.std()

In [19]:
print 'MinMaxScaler for NORMALIZATION'
from sklearn.preprocessing import MinMaxScaler

mmscaler = MinMaxScaler()
cols = ['hsc_p', 'ssc_p', 'age', 'height', 'salary']
df1[cols] = mmscaler.fit_transform(df1[cols])
df1.head()

MinMaxScaler for NORMALIZATION

  gender     hsc_p     ssc_p       age    height  salary suffer_from_disease
0      M  0.764706  0.666667  0.888889  1.000000  0.4375                  no
1      M  0.400000  0.933333  0.666667  0.797980  0.1875                  no
2      F  0.682353  0.733333  0.333333  0.292929  1.0000                 yes
3      F  1.000000  0.000000  1.000000  0.494949  0.0000                 yes
4      M  0.000000  1.000000  0.000000  0.000000  0.1250                  no

In [20]:
print 'StandardScaler for STANDARDIZATION'
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
cols = ['hsc_p', 'ssc_p', 'age', 'height', 'salary']
df2[cols] = sc.fit_transform(df2[cols])
df2.head()

StandardScaler for STANDARDIZATION

,gender,hsc_p,ssc_p,age,height,salary,suffer_from_disease
0,M,0.568894,6.249889e-16,0.845771,1.359976,0.246564,no
1,M,-0.493498,7.505866e-01,0.241649,0.790948,-0.457905,no
2,F,0.328999,1.876467e-01,-0.664534,-0.631620,1.831622,yes
3,F,1.254308,-1.876467e+00,1.147832,-0.062593,-0.986258,yes
4,M,-1.658702,9.382333e-01,-1.570717,-1.456710,-0.634023,no